name: Build

on: [push, workflow_call]

env:
  NODE_VERSION: "14"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: $NODE_VERSION
          cache: "yarn"
      - run: yarn run build
      - uses: actions/upload-artifact@v3
        with:
          name: build
          path: ./dist
          retention-days: 1
