name: Publish Package

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/build.yml
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download Build output
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dist
      - name: Check files
        run: ls
